@use "../abstracts/variables" as var;

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: none;
  background-color: var.$button-bg-yellow;
  padding: 20px 15px;
  transition: all 0.3s ease-in-out;

  &--start {
    padding: 5px 15px;
  }

  &__text {
    font-size: 35px;
    color: var.$button-text-color;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    &--small{
      font-size: 20px;
    }
  }

  &__image_left,
  &__image_right {
    width: 40px;
    height: 40px;
    &--smaller{
      width: 30px;
      height: 30px;
    }
  }

  &__image_left img,
  &__image_right img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  &:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.button:not(:disabled):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button:not(:disabled):hover .button__image_left img {
  transform: rotate(-45deg);
}

.button:not(:disabled):hover .button__image_right img {
  transform: scale(1.2);
}
