@use "../abstracts/variables" as var;

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: none;
  background-color: var.$button-bg-yellow;
  padding: 20px 15px;
  transition: all 0.3s ease-in-out;

  &__text {
    font-size: 35px;
    color: var.$button-text-color;
    font-weight: bold;
  }

  &__image_left,
  &__image_right {
    width: 40px;
    height: 40px;
  }

  &__image_left img,
  &__image_right img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button:hover .button__image_left img {
  transform: rotate(-45deg);
}

.button:hover .button__image_right img {
  transform: scale(1.2);
}
