@use "../abstracts/variables" as var;

.game {
  height: 100vh;
  padding: 20px;
  &--code_vibes {
    background-color: var.$bg-theme-code;
  }
  &--gaming_theme {
    background-color: var.$bg-theme-gaming;
  }
  &--da_projects_theme {
    background-color: var.$bg-theme-da_projects;
  }
  &--foods_theme {
    background-color: var.$bg-theme-foods;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 15px 30px;
    &--code_vibes {
      background-color: var.$bg-header-code;
    }
    &--gaming_theme {
      background-color: var.$bg-header-gaming;
    }
    &--da_projects_theme {
      background-color: var.$bg-header-da_projects;
    }
    &--foods_theme {
      background-color: var.$bg-header-foods;
    }
  }

  &__score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;
    border-radius: 10px;
    &--code_vibes {
      background-color: var.$bg-score-code;
    }
    &--gaming_theme,
    &--da_projects_theme,
    &--foods_theme {
      background-color: var.$bg-score-gaming;
    }
  }

  &__player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    &--player1 {
      padding-right: 10px;
    }
  }

  &__player-icon {
    width: 24px;
    height: 24px;
  }

  &__player-score {
    margin: 0;
    &--blue {
      color: var.$player-blue;
    }
    &--orange {
      color: var.$player-orange;
    }
  }

  &__player-label {
    display: none;

    &--blue {
      color: var.$player-blue;
    }

    &--orange {
      color: var.$player-orange;
    }

    &--visible {
      display: inline;
    }
  }

  &__turn {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__current-player {
    font-size: 20px;
    color: #ffffff;

    &--blue {
      color: var.$player-blue;
    }
  }

  &__current-icon {
    width: 24px;
    height: 24px;
  }
}
