.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  position: relative;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &--highlight {
    padding: 50px 150px;
  }

  &__text {
    font-size: 50px;
    color: #fff;
    margin: 0;
  }

  &__title {
    font-size: 100px;
    color: #fff;
    margin: 0;
    &--highlight {
      padding-left: 30px;
      color: black;
      font-size: 26px;
    }
  }
}

.controller {
  position: absolute;
  left: 0;
  bottom: 10px;
}
