$grey-bg: #2f3131;

$bg-theme-code:  #303131;
$bg-theme-gaming: #23769b;
$bg-theme-da_projects: #23769b;
$bg-theme-foods: #e8e2dc;
$bg-header-code:#36524d;
$bg-header-gaming: #526783;
$bg-header-da_projects: #ffffff; 
$bg-header-foods: #ffffff;
$bg-score-code:#4f8077;
$bg-score-gaming: #ffffff;
$bg-score-da_projects: #ffffff;
$bg-score-foods: #ffffff;

$player-blue: #2BB1FF;
$player-orange: #F58E39;

$button-bg-yellow: #f0ea6e;
$button-text-color: #303131;